@font-face 
{ 
	font-family: Rocko; 
	src: url('rocko.ttf'); 
}

@-webkit-keyframes moveDown
{ 
	from 
	{ 
		margin-top: -15%;
	} 
	to 
	{ 
		margin-top: 5%;
	} 
}
@-moz-keyframes moveDown
{ 
	from 
	{ 
		margin-top: -15%;
	} 
	to 
	{ 
		margin-top: 5%;
	} 
}
@keyframes moveDown
{ 
	from 
	{ 
		margin-top: -15%;
	} 
	to 
	{ 
		margin-top: 5%;
	} 
}
  
.moveDown
{
    -webkit-animation:moveDown linear 1;  
    -moz-animation:moveDown linear 1;
    animation:moveDown linear 1;

    -webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:0.5s;
    -moz-animation-duration:0.5s;
    animation-duration:0.5s;
}

@-webkit-keyframes fadeIn 
{ 
	from 
	{ 
		opacity:0; 
		opacity: 1\9;  
	} 
	to 
	{ 
		opacity:1; 
	} 
}

@-moz-keyframes fadeIn 
	{ 
		from 
		{ 
			opacity:0; 
			opacity: 1\9;
		} 
		to 
		{ 
			opacity:1; 
		} 
}
@keyframes fadeIn 
	{ 
		from 
		{ 
			opacity:0; 
			opacity: 1\9; 
		} 
		to 
		{ 
			opacity:1; 
		} 
}

.fade-in 
{
    opacity:0;  
    -webkit-animation:fadeIn ease-in 1;  
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
	
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	animation-delay: 1s;

    -webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}

h1
{
	font-size: 700%;
	color: white;
	font-family: Rocko;
}

body
{
	background-image: url("Images/Wall.png"); 
	background-size: 100%;
	background-repeat: no-repeat;
    image-rendering: -moz-crisp-edges;          
	image-rendering: pixelated;
}

p
{
	font-size: 200%;
	color: white;
	font-family: Arial Black,Arial Bold,Gadget,sans-serif;
}

h2
{
	font-size: 400%;
	font-family: Rocko;
}

a:link
{
	color: white;
	text-decoration: none;
	-moz-outline: none;
	outline: none;
}

a:visited
{
	color: white;
}

a:hover
{
	color: red;
}
